@define-color foreground rgba(169, 177, 214, 0.8);
@define-color background rgba(26, 27, 38, 0.98);
@define-color color1 rgba(125, 207, 255, 1);
@define-color color2 rgba(158, 206, 106, 1);

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
}

#cfgerr {
  background: rgba(255, 0, 0, 0.4);
  margin-top: 20px;
  padding: 8px;
  font-size: 2em;
}

#window {
  color: @foreground;
  font-size: 1.5em;
}

#box {
  border-radius: 20px;
  background: @background;
  padding: 32px;
  border: 1px solid lighter(@background);
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

#search {
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.22);
  background: lighter(@background);
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  color: @foreground;
  opacity: 0.2;
}

#clear {
  color: @color2;
  opacity: 0.8;
  visibility: hidden;
  fill: red;
}

#password,
#input,
#typeahead {
  border-radius: 20px;
}

#input {
  background: none;
}

#password {
}

#spinner {
  padding: 8px;
}

#typeahead {
  color: @foreground;
  opacity: 0.8;
}

#input placeholder {
  opacity: 0.5;
}

#list {
}

child {
  padding: 8px;
  border-radius: 10px;
}

child:selected,
child:hover {
  background: alpha(@color1, 0.3);
    color: @color2;
}

#item {
}

#icon {
  margin-right: 26px;
}

#text {
}

#label {
  font-weight: 500;
}

#sub {
  opacity: 0.5;
  font-size: 0.6em;
}

#activationlabel {
}

#bar {
}

.barentry {
}

.activation #activationlabel {
}


.activation #icon {
  visibility: hidden;
};

.activation #text,
.activation #search {
  opacity: 0.5;
}

.aiItem {
  padding: 10px;
  border-radius: 2px;
  color: @foreground;
  background: @background;
}

.aiItem.user {
  padding-left: 0;
  padding-right: 0;
}

.aiItem.assistant {
  background: lighter(@background);
}
